<div class="container">
 <h1>My tasks</h1>
 <ul>
 <li class="list-unstyled">
  <% @tasks.each do |task|%>
  <% if task.completed? %>
    <i class="fa-regular fa-square-check"></i>
  <% else%>
   <i class="fa-regular fa-square"></i>
  <%end%>
  <%= link_to '🗑', task_path(task), class: 'btn btn-light', data: { turbo_method: :delete, turbo_confirm: "Delete #{task.title}?" } %>
  <%= link_to task.title, task_path(task) %>
<%end%>
</li>
</ul>

 <%= link_to "Add new task", new_task_path%>
</div>
