<div class="container">
<h1>
  <% if @task.completed? %>
    <i class="fa-regular fa-square-check"></i>
  <% else%>
   <i class="fa-regular fa-square"></i>
  <%end%>
<%= @task.title %>
</h1>
<%= @task.details %>

</div>
